.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .25rem;
  padding: 6rem;
  min-height: 100vh;
}

.form {
}
.form > label {
  display: block;
}
.form > button {
  margin-left: .25rem;
}

